@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    /* background-image: url(./keys.png); */
    background-color: #252525;
    background-repeat: no-repeat;
    background-position: center top 100px;
    color: #7F5283;
}
#wt{
    border-radius: 2px;
}
#bmi{
    text-align: center;
    /* padding: 2% 2% 2% 0%; */
    padding: 2% 0% 2% 2%;
}
.main{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  width: 450px;
}
main h1{
    color: #898AA6;
    text-align: center;
    white-space: nowrap;
    padding: 5% 5% 8%;
}
.buttonDiv{
    text-align: center;
   padding: 2% 0% 2% 4%;
}
.weightdiv{
    text-align: center;
    padding: 0% 0% 5%;
}
.heightDiv{
    text-align: center;
    padding: 0% 0% 5%;
}
input::placeholder{
    padding: 3%;
    font-family: 'Poppins', sans-serif;
    color: #100F0F;
}
#bmibutton{
    width: 30%;
    height: 40px;
    border-style: none;
    border-radius: 10px;
    background-color: #898AA6;
    transition: all 0.5s ease-in-out;
}
#bmibutton:hover,#bmibutton:focus{
    background-color: #7F5283;
    color: #ffffff;
}
#w,#h{
    padding: 2%;
}
.gg-calculator {
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 22px;
    border: 2px solid;
    border-radius: 2px
   }
   @media screen and (min-width:1000px) {
    #main{
      width: 600px;
      
    }
   }
